<div class="form-group">
  <div class="input-email">
    <label for="email" class="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.email">
    <div class="email-exception">{{_userService.err.email}}</div>
  </div>
  <div class="input-full-name">
    <label for="fullname">Full name:</label>
    <input type="text" id="fullname" [(ngModel)]="user.fullName">
    <div class="fullname-exception">{{_userService.err.fullName}}</div>
  </div>
  <button type="submit" (click)="add()">Push on server</button>
</div>