.email {
  margin-right: 26px;
}
button {
  margin: 5px 0;
}
.form-group div {
  margin: 5px 0;
}
.form-group .input-full-name,
.form-group .input-email {
  margin-bottom: 20px;
  position: relative;
}
.fullname-exception,
.email-exception {
  color: red;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: -35px;
}
.fullname-exception {
  right: -65px;
}
.form-group input {
  min-width: 150px;
}