.server-output {
  border: 1px solid blue;
  min-height: 50px;
  max-width: 250px;
  text-align: center;
  margin: 0 auto;
}
.server-output p {
  margin: 10px 0;
  text-align: center;
  min-width: 200px;
  max-width: 249px;
  position: relative;
}
.server-output p:hover .remove {
  display: inline-block;
}
.server-output p:hover {
  color: blue;
}
.remove {
  background: transparent;
  border: none;
  color: red;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}